.content__box__title{
  font-size: 65px;
  font-family: 'Lobster', cursive;
  -webkit-text-stroke:2px black;
  color: white;
  text-align: center;
  margin-top: 10px;
  border: solid 2px black;
  height: 120px;
  line-height: 110px;
  margin-left: 27px;
  margin-right: 33px;
  background-image: url("/images/36491275-中世の壁の石の背景.jpg");
}

.content__box__total{
  margin-top: 30px;
  &__title1{
  font-size: 50px;
  text-align: center;
  }
  &__spend{
  background-color: white;
  height: 60vh;
  width: 50vw;
  margin: auto;
  font-size: 40px;
  overflow: scroll;
  &__1{
   font-size: 40px;
   margin-left: 20px;
   margin-top: 10px;
  }
  &__2{
   font-size: 40px;
   margin-left: 20px;
   margin-top: 10px;
  }
  &__3{
    font-size: 40px;
    margin-left: 20px;
    margin-top: 10px;
   }
   &__4{
    font-size: 40px;
    margin-left: 20px;
    margin-top: 10px;
   }
   &__5{
    font-size: 40px;
    margin-left: 20px;
    margin-top: 10px;
   }
   &__6{
    font-size: 40px;
    margin-left: 20px;
    margin-top: 10px;
   }
   &__7{
     font-size: 40px;
     margin-left: 20px;
     margin-top: 10px;
    }
    &__8{
     font-size: 40px;
     margin-left: 20px;
     margin-top: 10px;
    }
    &__9{
      font-size: 40px;
      margin-left: 20px;
      margin-top: 10px;
     }
     &__10{
      font-size: 40px;
      margin-left: 20px;
      margin-top: 10px;
     }
     &__11{
      font-size: 40px;
      margin-left: 20px;
      margin-top: 10px;
     }
     &__12{
      font-size: 40px;
      margin-left: 20px;
      margin-top: 10px;
     }
     &__13{
       font-size: 40px;
       margin-left: 20px;
       margin-top: 10px;
      }
      &__14{
       font-size: 40px;
       margin-left: 20px;
       margin-top: 10px;
      }
      &__15{
       font-size: 40px;
       margin-left: 20px;
       margin-top: 10px;
      }
      &__16{
       font-size: 40px;
       margin-left: 20px;
       margin-top: 10px;
      }
      &__17{
        font-size: 40px;
        margin-left: 20px;
        margin-top: 10px;
       }
  }
  &__title2{
  font-size: 50px;
  text-align: center;
  }
  &__income{
    background-color: white;
    height: 60vh;
    width: 50vw;
    margin: auto;
    }
}

